<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Openfda Rfq" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Openfda Rfq" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
    <footer>
     <div class="container">
       <div class="row">
         <div class="col-sm-6 col-xs-12">
         <p class="fine-print">&#8220;PharmaQuery&#8221;, &#8220;Ingredient Browser&#8221;, and other alluded titles are part of a prototype application built specifically for demonstration purposes only.</p>
         </div>
         <div class="col-sm-6  col-xs-12">
           <span id="version" class="pull-right">v.<%= APP_VERSION if defined? APP_VERSION %></span>
         </div>
       </div>
     </div>
    </footer>
  </body>
</html>
